{% extends "base.html" %}

{% block content %}
<div class="modal__background">
    <span class="auth-form__placeholder">Contacts</span>
    <div class="modal__window">

{#        <form class="auth-form" name="form-auth" method="post">#}


{##}
{#            <label class="auth-form__label">#}
{#                <span class="auth-form__placeholder">password</span>#}
{#                <input class="auth-form__input input-password" type="password" name="password" autocomlete="off" required>#}
{#                <div class="auth-form__toggler">#}
{#                    <i class="la la-eye auth-form__icon"></i>#}
{#                    <input type="checkbox" class="auth-form__checkbox password-toggler">#}
{#                </div>#}
{#            </label>#}


{#        </form>#}

    </div>
</div>

<div class="hint"></div>
{% endblock %}




