{% extends "base.html" %}

{% block content %}

<div class="modal__background">
{% if notes %}
    <div class="content">
        {% for note in notes %}
            <div class="contact">
                <b>
                    <a class='name' href="{{ url_for('note', note_id=note.id) }}">
                        {{ note.title }}
                    </a><br>
                </b>

                {% if note.tags %}
                    {% for tag in note.tags %}
                        <span class='tag'>#</span><a class='tag' href="{{ url_for('note_search', tag=tag.name) }}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}

            </div>
        {% endfor %}
    </div>

    <div class="pagination">
    {% if notes.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for('notes', page=notes.prev_num) }}">
                {{ '<<<' }}
            </a>
        </span>
    {% endif %}

    {% if notes.pages>1 %}
    {% for page in notes.iter_pages() %}
        {% if page %}
            {% if notes.page != page %}
                <span>
                        <a class='page-number'
                            href="{{ url_for('notes', page=page) }}">
                        {{ page }}
                        </a>
                </span>
            {% else %}
                <span class='current-page-number'>{{ page }}</span>
            {% endif %}
        {% else %}
            <span class='page-number'>…</span>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if notes.has_next %}
        <span>
            <a class='page-number'
                href="{{ url_for('notes', page=notes.next_num) }}">
                {{ '>>>' }}
            </a>
        </span>
    {% endif %}
    </div>
{% endif %}

{#        <form class="auth-form" name="form-auth" method="post">#}


{##}
{#            <label class="auth-form__label">#}
{#                <span class="auth-form__placeholder">password</span>#}
{#                <input class="auth-form__input input-password" type="password" name="password" autocomlete="off" required>#}
{#                <div class="auth-form__toggler">#}
{#                    <i class="la la-eye auth-form__icon"></i>#}
{#                    <input type="checkbox" class="auth-form__checkbox password-toggler">#}
{#                </div>#}
{#            </label>#}


{#        </form>#}


</div>
{% endblock %}




