                                {% extends "base.html" %}

{% block content %}

<div class="modal__background">
{% if note %}
    <div class="note-container">
            <b>
                <h1 class="name">{{ note }}</h1>
            </b>

            <div class="note">
                {% if note.text %}
                    <p> {{ note.text }}</p>
                {% endif %}

                {% if note.tags %}
                    <span class='header'>TAG:</span>
                    {% for tag in note.tags %}
                        <a class='tag' href="{{ url_for('note_search', tag=tag.name) }}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
    </div>

{% endif %}
</div>
{% endblock %}



